:root{
    --cor-fundo: #d1f1ff ;
    --cor-principal: #070b27 ;
    --cor-secundaria: #252946; 
    --cor-destaque: #5ce6ff;
    --cor-texto: #D7F9FF;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 37px;
}

h1{
    color: var(--cor-destaque);

}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: background-color 0.3s;
    margin: 20px;

}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
